<h2>Users</h2>
<ul class="list-unstyled" *ngIf="users?.length>0 && loaded === true">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-dark]="!user.isActive">
    <h3>
      {{user.firstName}} {{user.lastName}}
      <small>
        <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ? 'fa fa-plus':'fa fa-minus'"></i>
        </button>
      </small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">
        Joined: {{user.registered | date: "dd-MMM-yyyy"}}
      </li>
    </ul>
  </li>
</ul>

<button class="btn btn-block btn-success" (click)="showUserForm = !showUserForm">
  Show Add User Form</button>

<div class="card card-body mb-3" *ngIf="showUserForm === true">
  <h2>User Details</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <input type="text" class="form-control mt-2" placeholder="First Name" name="firstName" [(ngModel)]="user.firstName" #userFirstName='ngModel'
        required minlength="2" [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}">
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
        First name required
      </div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
        At least 2 characters required
      </div>

      <input type="text" class="form-control mt-2" placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" #userLastName='ngModel'
        required minlength="2" [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}">
      <div [hidden]=!userLastName.errors?.required class="invalid-feedback">
        Last Name is Required
      </div>
      <div [hidden]=!userLastName.errors?.minlength class="invalid-feedback">
        At Least 2 characters required
      </div>

      <input type="email" class="form-control mt-2" placeholder="Email" name="email" [(ngModel)]="user.email" #userEmail='ngModel'
        required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{1,}[.]{1}[a-zA-Z]{1,}" [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}">
      <div [hidden]=!userEmail.errors?.required class="invalid-feedback">
        Email is Required
      </div>
      <div [hidden]=!userEmail.errors?.pattern class="invalid-feedback">
        Email is invalid. Must be of the format: a@b.c
      </div>

    <button class="btn btn-block mt-2" [disabled]="!userForm.form.valid">
      Add New
    </button>

  </form>

</div>